.getting-started {
  .header {
    display: flex;
    flex-direction: column;
    height: 250px;
    background: linear-gradient(to bottom right, #03A9F4, #0277BD);
    align-items: center;
    justify-content: center;
    color: #fff;

    h1 {
      margin: 0;
    }

    code {
      padding: 20px;
      background: #01579B;
      border-radius: 5px;
    }
  }

  .content {
    padding: 10px 50px;

    .CodeMirror {
      height: auto;
      min-height: 300px;
    }
    .CodeMirror-scroll {
      min-height: 300px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    label {
      border-left: 5px solid #ccc;
      padding-left: 2px;
      margin: 2px;
    }
  }
}

.code {
  border-radius: 2px;
  box-shadow: 2px 2px 15px black;
  overflow: hidden;
  margin: 20px;
}
