import React, { Component } from 'react';
import Form from 'react-formulate';

// Preexisting data   //|   From Scratch
                      //|
const data = {        //|   const data = {
  firstName: 'John',  //|     firstName: '',
  lastName: 'Doe',    //|     lastName: '',
  ...                 //|     ...
};                    //|   };

class MyComponent extends Component {

  handleSubmit = newData => {
    console.log(newData);
  }

  render() {
    return (
      <div>
        ...
        <Form from={data} onSubmit={this.handleSubmit} />
      </div>
    )
  }
}
