import React, { Component } from 'react';
import { string, number, boolean, object, array } from 'react-formulate';

const Inputs = object({
  firstName: string({label: 'First Name'}),
  lastName: string({label: 'Last Name'}),
  age: number({label: 'Age'}),
  contact: object({
    phone: string({label: 'Phone'}),
    emails: array(string())({label: 'Emails'})
  })({label: 'Contact'})
})({label: 'User'});

class MyComponent extends Component {

  constructor(props) {
    super(props);
    this.setState({
      value: {
        firstName: 'John',
        lastName: 'Doe',
        age: 23
      }
    });
  }

  handleChange = value => {
    this.setState({value: value});
  }

  render() {
    return (
      <div>
        ...
        <Inputs onChange={this.handleChange} value={this.state.value} />
      </div>
    );
  }
}
